/Doodle/bin
/Doodle/gen
/Doodle/.settings
/Doodle/assets
/Doodle/.classpath
/Doodle/.project
/DoodleDemo/assets
/DoodleDemo/bin
/DoodleDemo/gen
/DoodleDemo/.classpath
/DoodleDemo/.project
/DoodleDemo/.settings
/DoodleDemo/assets
/DoodleDemo/bin
/DoodleDemo/gen
/DoodleDemo/.classpath
/DoodleDemo/.project
/DoodleDemo/.settings
/DoodleDemo/.settings
/DoodleDemo/bin
/DoodleDemo/gen
/DoodleDemo/assets
/DoodleDemo/.classpath
/DoodleDemo/.project
